table {
    @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki:wght@400;500;700&display=swap');
    width: 100%;
    height: 150px;
    text-align: center;
    border-spacing: 0;
    border-bottom: 1px solid black;
}

table tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05);
}

table thead tr th {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

table tbody tr td {
    border-top: 1px solid #8080a3;
}

/* table tbody tr:hover {
    background-color: blue;
} */