@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins";
}

.container {
  background-color: rgb(246, 50, 50);
  border-style: none;
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: column;
}

.mario {
  display: flex;
  flex-direction: column;
  align-self: center;
  color: aliceblue;
  text-align: center;
  border: 4px solid white;
  border-radius: 5em;
  width: 180px;
  height: 120px;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  padding: 0.5em 0.5em;
}

.banner {
  width: 100%;
  position: relative;
}

.banner_text {
  padding: 50px 35px;
  font-size: 26px;
  border-style: none;
  background-color: #feb614;
  color: white;
  width: 15vw;
  height: 10vh;
  text-align: left;
  font-weight: 600;
  position: absolute;
  top: 350px;
  left: 0;
}

.marioclub {
  font-weight: 600;
  font-size: 40px;
  position: absolute;
}

.menu {
  display: flex;
  justify-content: space-around;
  background-color: #f4f4f4;
}

h2 {
  color: rgb(246, 50, 50);
  padding: 30px 0 10px 15px;
}

.normal,
.important {
  font-size: 16px;
  text-align: left;
  padding: 10px 15px;
}

.screenshots {
  padding: 40px 20px;
  float: left;
  text-align: center;
}

.images {
  width: 40%;
  margin: 0 30px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #f4f4f4;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 200px;
  padding: 34px 0;
}

.email {
  border-style: none;
  border-radius: 5em;
  font-size: 14px;
  font-weight: bold;
  margin-top: 25px;
  padding: 15px 80px;
  text-align: center;
}

.footer {
  background-color: rgb(246, 50, 50);
  color: white;
  border-style: none;
  width: 100%;
  height: 130px;
  padding: 1.5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.copyright {
  color: white;
  padding-top: 1.5em;
  font-size: 18px;
}

a:link {
  color: #9c7009ee;
  text-decoration: none;
}
a:visited {
  color: rgba(45, 26, 121, 0.255);
}
a:hover {
  color: rgba(20, 196, 240, 0.922);
  text-decoration-line: underline;
  text-decoration-style: solid;
}

a:hover,
a:link,
a:visited,
a:active {
  display: flex;
  align-items: center;
  background-color: transparent;
  text-align: center;
  font-size: 18px;
  padding-top: 0;
  height: 3em;
  cursor: pointer;
  border-style: none;
}

/* responsive */

@media screen and (max-width: 1225px) {
  .images {
    width: 45%;
    margin: 0 20px;
  }
  .banner_text {
    font-size: 23px;
    top: 260px;
    width: 180px;
    height: 70px;
  }
  .marioclub {
    font-size: 35px;
  }
}

@media screen and (max-width: 900px) {
  .images {
    width: 70%;
    margin: 20px 0;
  }
  .banner_text {
    font-size: 23px;
    top: 10em;
    width: 180px;
    height: 70px;
    clip: inherit;
  }
  .marioclub {
    font-size: 35px;
  }
}

@media screen and (max-width: 800px) {
  a:hover,
  a:link,
  a:visited,
  a:active {
    font-size: 12px;
  }

  .normal,
  p,
  p.copyright {
    font-size: 14px;
  }

  h2 {
    font-size: 20px;
  }

  .banner_text {
    padding-top: 25px;
    font-size: 16px;
    top: 14em;
    width: 100px;
    height: auto;
  }
  .marioclub {
    font-size: 22px;
  }
}

@media screen and (max-width: 700px) {
  .mario {
    font-size: 20px;
  }
}

@media screen and (max-width: 520px) {
  .mario {
    font-size: 16px;
  }
  .banner_text {
    padding-top: 25px;
    font-size: 14px;
    top: 12em;
    width: 100px;
    height: auto;
  }
  .marioclub {
    font-size: 16px;
  }
}
