@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 0.65fr 3.5fr 0.65fr;
  gap: 20px;
  background-color: #b3cade;
}

header,
footer {
  box-shadow: 10px 10px 5px grey;
  grid-column: span 3;
  max-height: 100px;
  text-align: center;
  padding: 60px;
  border-style: none;
  border-radius: 5px;
}

header {
  background-image: url("./img/snowdon_lake.jpg");
  background-position: 0 885px;
  margin: 30px 30px 0 30px;
  color: #6fe7ff;
}

header p {
  font-size: 36px;
  background: linear-gradient(
    4deg,
    rgb(17, 19, 22) 32%,
    rgba(49, 101, 198, 0.9396751740139211) 47%,
    rgba(2, 0, 36, 1) 92%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

nav,
article,
aside {
  background: -webkit-linear-gradient
    (circle, rgb(20, 31, 87) 30%, rgba(236, 243, 244, 0.82) 60%);
  font-size: 1.1em;
  background-color: #d2daed;
  border-style: none;
  border-radius: 5px;
}

nav,
aside {
  box-shadow: 10px 10px 5px grey;
  height: 300px;
}

ul,
li {
  text-shadow: 5px 3px 2px violet;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

nav {
  margin: 20px 10px 10px 30px;
  padding: 30px 0 10px 25px;
  line-height: 2.2em;
}

article {
  box-shadow: 15px 15px 7px grey, -15px 15px 7px grey;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: max-content;
  margin: 20px 10px;
  /* text-align: left; */
  border-radius: 0;
}

iframe {
  height: 100vh;
  width: 100%;
}

aside {
  margin: 20px 30px 10px 10px;
  padding-top: 2.2em;
  text-align: center;
  line-height: 2.2em;
}

footer {
  background-image: url("./img/snowdon_lake.jpg");
  background-position: 0 660px;
  font-size: 24px;
  margin: 0 30px 30px 30px;
  color: aliceblue;
}

img {
  height: 40%;
  width: 40%;
}

.world {
  padding-bottom: 30px;
  font-size: 20px;
}
/* my_home */
.home {
  background-color: #d2daed;
}

.first_p {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 36px;
}

.first {
  background-image: url(./img/forest.jpg);
  /* background-size: cover; */
  background-position: 45% 35%;
  color: rgb(234, 232, 245);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 130px;
}

/* responsive */
@media screen and (max-width: 1205px) {
  .first_p,
  header p {
    font-size: 24px;
  }

  nav {
    grid-column: span 3;
    font-size: 16px;
    height: max-content;
    margin-right: 25px;
    padding: 10px;
  }
  nav ul {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    gap: 15px;
  }
  article,
  aside,
  footer {
    grid-column: span 3;
    width: auto;
    font-size: 16px;
    margin: 10px 25px;
    padding: 20px;
  }
  header,
  footer {
    background-size: cover;
  }
}
@media screen and (max-width: 980px) {
  header p {
    grid-column: span 3;
    background-clip: text;
    -webkit-background-clip: text;
    color: whitesmoke;
  }

  .first_p {
    font-size: 20px;
  }

  nav {
    padding: 10px;
  }
  header,
  footer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
