@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
    margin: 0;
    font-family: "Poppins";
    background-color: #DEDEDE;
}

ul, li {
    list-style-type: none;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: 30px;
}

header {
    grid-column: span 3;
    text-align: center;
    border-bottom: solid 1px #39F5E3;
}

nav {
    padding: 30px;
    border-right: solid 1px #39F5E3;
}

nav li {
    text-decoration: underline;
}

article {
    padding: 35px;
}

article h2 {
    font-size: 3em;
    max-width: 700px;
}

article img {
    width: 100%;
}

article p {
    margin-top: 25px;
    line-height: 2.2em;
    color: #777;
}

aside {
    border-left: solid 1px #39F5E3;
    padding: 25px;
}

footer {
    grid-column: span 3;
    text-align: center;
    border-top: solid 1px #39F5E3;
    padding: 20px;
}

@media screen and (max-width: 1200px) {
    nav {
        grid-column: span 3;
        border-right: 0;
        border-bottom: solid 1px #39F5E3;
    }
    nav li {
        display: inline-block;
        margin-right: 20px;
    }
    article {
        grid-column: span 2;
    }
    aside {
        padding: 15px;
    }
}

@media screen and (max-width: 980px) {
    nav, article, aside {
        grid-column: span 3;
    }
    aside {
        border-left: 0;
        border-top: solid 1px #39F5E3;
    }
    article h2 {
        font-size: 2em;
    }
}