@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');


* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins";
    padding: 0;
}

header {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #000;
}

ul, li {
    list-style-type: none;
}

h2 {
    text-align: center;
    font-size: 2em;
    padding: 20px;
}

.container-body {
    display: flex;
    justify-content: center;
}

.calc {
    background-color: aqua;
    border-radius: 10px;
    width: 176px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

#calc-screen {
    width: 176px;
    height: 4em;
    border-style: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #000;
    color: aqua;
    font-size: 1.2em;
    font-weight: bold;
    text-align: right;
}

button {
    display: inline-block;
    font-weight: bold;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0 9px #999;
    text-decoration: none;
    outline: none;
}

button:hover {
    background-color: #3e8e41;  
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#btn-clear {
    text-align: center;
    width: 130px;
}

#btn-zero {
    text-align: center;
    width: 85px;
}

footer {
    padding: 20px;
    text-align: center;
    border-top: 1px solid #000;
}