* {
  margin: 0;
  padding: 0;
}
body {
  background-color: aqua;
}

header {
  background-color: rgb(8, 157, 157);
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aqua;
}

.color {
  color: green;
  font-size: 36px;
}

.result {
  padding-top: 35px;
  font-size: 28px;
}

.message {
  padding-top: 20px;
  color: black;
  font-size: 34px;
  font-weight: bold;
}

.buttons {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  gap: 30px;
  padding-top: 40px;
}
.przyciski {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

button {
  border-radius: 5px;
  border-style: none;
  width: 85px;
  height: 45px;
  background-color: teal;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
